<!--@subject Sending email from my custom module @-->
 
{{template config_path="design/email/header_template"}}
<table>
     <tr class="email-intro">
         <td>
         Name: {{var name}} {{var lname}}
         </td>
     </tr>
     <tr class="email-intro">
         <td>
         Mobile: {{var mobilenumber}}
         </td>
     </tr>
     <tr class="email-intro">
	<td>
         Address: {{var address}}
         </td>
     </tr>
 </table>
 
{{template config_path="design/email/footer_template"}}
