<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="contactajax" frontName="contactajax">
            <module name="Praveen_Contactajax" />
        </route>
    </router>
</config>
