<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Praveen\Preference\Model\Product">
		<plugin name="Praveen_Plugin::changeProductName" type="Praveen\Plugin\Plugin\Catalog\Model\ProductPlugin" sortOrder="1" />
	</type>
</config>
